.book-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 30px auto 30px auto;
  padding: 20px;
  flex-direction: column;
  display: flex;
  width: 80%;
  border-color: brown;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  flex: 1;
}

.card-img {
  align-self: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
